# --- CORE LANGCHAIN ---
langchain==0.3.0
langchain-openai==0.2.0
langchain-community==0.3.0
langchain-core==0.3.0

# --- VECTOR STORE & DATA ---
chromadb==0.5.5
pypdf==4.3.1
tiktoken==0.7.0

# --- TOOLS & AGENTS ---
langchainhub==0.1.21
numexpr==2.10.1

# --- INTERFACE & API (Para luego) ---
streamlit==1.38.0
fastapi==0.115.0
uvicorn==0.30.6

# --- MLOPS & UTILS ---
python-dotenv==1.0.1
pydantic-settings==2.5.2
setuptools

# --- LLM PROVIDERS ---
langchain-openai==0.2.0    # Para compatibilidad (Groq la usa)
langchain-groq==0.2.0      # <--- NUEVO: Para usar la API gratuita de Groq
langchain-ollama==0.1.0    # <--- NUEVO: Para correr modelos localmente
